
footer{
    background: white;
    padding: 60px 40px;
    width: 100%;
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}

.footer-col ul{
    list-style: none;
}

.footer-col ul li{
    margin: 8px 0;
    color: #666;
}

.footer-logo{
    width: 120px;
    margin-bottom: 14px;
    border-radius: 10px;
}

.socials{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.socials i{
    background: #f1f1f1;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    transition: 0.3s;
}

.socials i:hover{
    background: #ddd;
}

.footer-bottom{
    text-align: center;
    margin-top: 35px;
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

.footer-bottom a{
    margin: 0 10px;
    color: #555;
}
.margin-right{
    margin-right: 60px;
}



@media (max-width: 992px) {
    .footer-content {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }

    .socials {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .footer-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    footer {
        padding: 40px 20px;
    }

    .footer-col {
        margin-bottom: 30px;
    }

    .footer-logo {
        margin: 0 auto 15px;
    }
}
